<div class="p-3">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="d-flex justify-content-center ">
                    <form [formGroup]="produitForm" (ngSubmit)="AjouterProdui()" class="form col-5">
                        <div class="mb-3">
                            <label class="form-label">Nom</label>
                            <input class="form-control" formControlName="nom"/>
                        </div>
                        
                        <div class="mb-3">
                            <label class="form-label">Categorie</label>
                            <select class="custom-control" formControlName="categorie">
                                <option *ngFor="let c of cate" [value]="c.categorie">{{c.categorie}}</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Image</label>
                            <input class="form-control" formControlName="image"/>
                        </div>
                        <div class="mn-3">
                            <label class="form-label">Prix</label>
                            <input class="form-control" formControlName="prix"/>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Quantité</label>
                            <input class="form-control" formControlName="quantite"/>
                        </div>
                        <div class="form-group mb-3">
                            <label for="exampleFormControlTextarea1">Description</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" formControlName="Description"></textarea>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Checked</label>
                            <input type="checkbox" formControlName="checked"/>
                        </div>
                        <button [disabled]="produitForm.invalid" class="btn btn-outline-success">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>