
<div class="d-flex justify-content-between ">
  <div>
    <nav class="p-3">
      <ul class="nav nav-pills">
          <li *ngFor="let action of actions">
              <button
              routerLink="{{action.router}}"
               (click)="ActionC(action)"
               [class]="action==actioncourante?'btn btn-success ms-3':'btn btn-outline-success ms-3'"
               *ngIf="action.router!='/panier'">{{action.title}}
                <i class="{{action.icon}}"></i>
              </button>
             
          </li>  
      </ul>     
</nav>
  </div>
  <div>
    <nav class="p-3">
      <ul class="nav nav-pills">
          <li *ngFor="let action of actions">
                <button
                class="btn btn-outline-success"
              [routerLink]="nombre == 0 ? action.router : action.router/nombre"
               (click)="ActionC(action)"
               *ngIf="action.router=='/panier'">
                <i class="{{action.icon}}"></i>
                <span *ngIf="nombre==0"><i class="bi bi-danger bi-circle bi-x"></i></span>
              </button>
          </li>  
      </ul>     
</nav>
  </div>
</div>
<router-outlet></router-outlet>